<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" ToolsVersion="4.0">
  <PropertyGroup>
    <!-- Configuration to compile: Release (default) or Debug -->
    <Configuration Condition="'$(Configuration)'==''">Release</Configuration>
    
    <!-- Directory to put build artifacts into -->
    <ReleaseFolder Condition="'$(ReleaseFolder)'==''">Release</ReleaseFolder>
    
    <XUnitPath>tools\xunit</XUnitPath>
  </PropertyGroup>
  <ItemGroup>
    <BuildOutput Include="Src\Humanizer\bin\Release\Humanizer.dll" />
    <BuildOutput Include="Src\Humanizer\bin\Release\Humanizer.XML" />
    
    <ProjectToBuild Include="Src\*.sln" />
  </ItemGroup>
</Project>
